name: prometheus
app:
  name: prometheus
  helmRepo: https://prometheus-community.github.io/helm-charts
  chart: kube-prometheus-stack
  chartVersion: "66.2.2"
  valueFiles: charts/prometheus/values.yaml
  namespace: prometheus
  ssa: ServerSideApply=true
  # Not ideal but just trying to get update workflow to work
  repoName: prometheus-community
  repoUrl: https://prometheus-community.github.io/helm-charts
  showChart: prometheus-community/kube-prometheus-stack
